<!doctype html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="../static/css/index.css">
		<title>Sign up Page</title>
		
	</head>
		
	<body class='container'>
		<div align='center'>
			<button onclick="window.location.href='/search'"> Home</button>
			<button onclick="window.location.href='/login'"/> Login</button>
			<button onclick="window.location.href='/adduser'"style='background-color: red'> Sign Up</button>
			<button onclick="window.location.href='/verify'"> Verify</button>
		</div>
		<form  > 
			
			<div class="container login-container">
				<div class="row">
					<div class="col-md-6 login-form-1">
						<h3 style='color: red'>Sign up </h3>
						<form >
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" value="" name='username' id='username'/>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" value="" name='email'id='email'/>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" value="" name='password' id='password'/>
							</div>
							<div class="form-group">
								<input type="submit" class="btnSubmit" value="Sign up" id="adduser"/>
							</div>
							<!-- <div class="form-group">
								<a href="#" class="ForgetPwd">Forget Password?</a>
							</div> -->
						</form>
					</div>
				</div>
			</div>
		
		</form>
		<script>
				$(document).ready(function(){
					$("#adduser").click( 
					function(e) {
						data =  {   'username': $('#username').val(),
									'email': $('#email').val(),
									'password': $("#password").val()
								}
						$.ajax({
							url: '/adduser',
							type: 'POST',
							contentType:"application/json",
							dataType:"json",
							data: JSON.stringify(data),
							success: function (data){
								alert("User ADDED " + data['status'])
								window.location.href='/verify'
							},
							error: function(err){
								alert("ERROR OCCURED WHILE ADDING USER " + err)
							}
						})
					})			
				});
			</script>
	</body>	
</html> 

