<html> 
    <head> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css">
        
    <!------ Include the above in your HEAD tag ---------->
    </head>  
    <body >
        <div class="container1">
            
            {% if login == 0  %}<button onclick="window.location.href='/login'"/> Login</button>{% endif %}
			{% if login == 0  %}<button onclick="window.location.href='/adduser'"> Sign Up</button>{% endif %}
            {% if login == 0  %}<button onclick="window.location.href='/verify'"> Verify</button>{% endif %}
            {% if login == 1  %}<button onclick="window.location.href='/questions/add'" id='addQuestion' > Add Question</button>{% endif %}
            {% if login == 1  %} <button id='logout'> Logout</button>{% endif %}
            <h2>Stack All The Flow </h2>
            {% if login == 1  %} <h3> Hello {{session['user']}}</h3>{% endif %}
           
        
      
       <div id='actual_body' style='display: none;'>
            <div   style='margin-left:20px;font-size: 20px; border-left:1px solid green; border-radius: 10px; height: auto; padding: 0px 10px;line-height: 40px; word-wrap: break-word;'>
                <button id='back_button'>Back</button>
                <h2 class="font-weight-bold" style="color:green;" id='question_title'>Place Title Here</h2>
                <p id='question_body' style='color:black'>Place Body Here</p>

                
            </div>
            <div style='height: 80px; width:730px'>
            <textarea style='margin-left: 20px; width:700px; height:70px' ></textarea>
            <button style='margin-left: 20px;font-size: 20px'id='answer_submit'>Answer</button>
            </div>
            
        </div>


        
    </body>

    </html>
