 <html> 
    <head> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css">
    <!------ Include the above in your HEAD tag ---------->
    </head>  
    <body>
        <div class="container">
            {% if login == 0  %}<button onclick="window.location.href='/login'"/> Login</button>{% endif %}
			{% if login == 0  %}<button onclick="window.location.href='/adduser'"> Sign Up</button>{% endif %}
            {% if login == 0  %}<button onclick="window.location.href='/verify'"> Verify</button>{% endif %}
            {% if login == 1  %} <button id='logout'> Logout</button>{% endif %}
            
            <h1>Stack All The Flow </h1>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Look and Explore</h3>
                                <div class="pull-right">
                                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                        <i class="glyphicon glyphicon-filter"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <input style='width:700px'type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Question" />
                                <span><select>
                                    <option value="volvo">25</option>
                                    <option value="saab">50</option>
                                    <option value="mercedes">100</option>
                                    
                                </select></span>
                            </div>
                            <table class="table table-hover" id="dev-table">
                                <thead>
                                    <tr>
                                        <th>    <a id='sortId'>#</a>            </th>
                                        <th>    <a id='sortTitle'>Questions</a>    </th>
                                        <th>    <a id='sortUser'>User</a>         </th>
                                        <th>    <a id='sortDate'>Date</a>         </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in questionTable %}
                                    <tr>
                                        <th>{{item['pid']}}</th>
                                        <th>{{item['title']}}</th>
                                        <th>{{item['user']['username']}}</th>
                                        <th>{{item['timestamp']}}</th>
                                        
                                    </tr> 
                                    <tr>
                                        <div style='border:1px solid red;'></div>
                                           {{item['body']}}
                                        </div>
                                    </tr>
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        

        <script>
			$(document).ready(function(){
                $("#logout").click( 
				function(e) {
					$.ajax({
						url: '/logout',
						type: 'POST',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({}),
						success: function (data){
							
							window.location.href='/login'
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})
                
                $("#sortUser").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'user': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})

                $("#sortDate").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'date': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})
        
                $("#sortTitle").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'title': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})        
        
        })
				


                ////////////////////////////////////////////////
			
		</script>
    </body>

    </html>