 <html> 
    <head> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css">
    <!------ Include the above in your HEAD tag ---------->
    </head>  
    <body>
        <div class="container">
            
            {% if login == 0  %}<button onclick="window.location.href='/login'"/> Login</button>{% endif %}
			{% if login == 0  %}<button onclick="window.location.href='/adduser'"> Sign Up</button>{% endif %}
            {% if login == 0  %}<button onclick="window.location.href='/verify'"> Verify</button>{% endif %}
            {% if login == 1  %} <button id='logout'> Logout</button>{% endif %}
            
            <h2>Stack All The Flow </h2>
                <div class="col-md-12" >
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                        <i class="glyphicon glyphicon-filter"></i>
                                    </span>
                                </div>
                            </div>
                            <div id="searchMe" class="panel-body" class="col-md-12">
                                <span >
                                    <button id='clickme'>Search</button>
                                    <select>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="all">All</option>
                                    </select>
                                    
                                    
                                </span>
                                <span><input style='width:700px;'type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Question" /></span>
                                
                            </div>
                            <table class="table table-hover" id="dev-table" >
                                <thead>
                                    <tr style='overflow: hidden'>
                                        <th>    <a id='sortId'>#</a>            </th>
                                        <th>    <a id='sortTitle'>Questions</a>    </th>
                                        <th>    <a id='sortUser'>User</a>         </th>
                                        <th>    <a id='sortDate'>Date</a>         </th>
                                    </tr>
                                </thead>
                                <tbody id='queryInfo'>
                                    
                                    {% for item in questionTable %}
                                    <tr >
                                        <th>{{item['pid']}}</th>
                                        <th ><a class='kevin' id="{{item['pid']}}">{{item['title']}} </a></th>
                                        <th>{{item['user']['username']}}</th>
                                        <th>{{item['timestamp']}}</th>                                       
                                    </tr> 
                                    
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                            

                        </div>
                    </div>
                    
                </div>
            </div>
            <div id='actual_body' class="container" style='display: none;; border-left:1px solid green; border-radius: 10px; height: auto; padding: 0px 10px;line-height: 40px; word-wrap: break-word;'>
                <button id='back_button'>Back</button>
                <h2 class="font-weight-bold" style="color:green;" id='question_title'>Place Title Here</h2>
                
                <p id='question_body' style='color:black'>Place Body Here</p>
                
            </div>

        <script>
			$(document).ready(function(){
                $("#logout").click( 
				function(e) {
					$.ajax({
						url: '/logout',
						type: 'POST',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({}),
						success: function (data){
							
							window.location.href='/login'
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})
                
                $("#sortUser").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'user': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})

                $("#sortDate").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'date': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})
        
                $("#sortTitle").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'GET',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'title': 'user'}),
						success: function (data){
						},
						error: function(err){
							alert("ERROR OCCURED WHILE ADDING USER " + err)
						}
					})
				})

                $("#clickme").click( 
				function(e) {
					$.ajax({
						url: '/search',
						type: 'POST',
						contentType:"application/json",
						dataType:"json",
						data: JSON.stringify({'q': $('#dev-table-filter').val() }),
						success: function (data){
                            // data = JSON.parse(data)
                            var myNode = document.getElementById("dev-table");
                            var fc = myNode.children[1];
                            while( fc ) {
                                myNode.removeChild( fc );
                                fc = myNode.firstChild;
                            }
                            var myvar = '<thead id=\'addHead\'> <tr> <th>    <a id=\'sortId\'>#</a></th> <th>    <a id=\'sortTitle\'>Questions</a>    </th> <th>    <a id=\'sortUser\'>User</a>  </th> <th>    <a id=\'sortDate\'>Date</a>         </th>  </tr></thead>';
                            $( "#dev-table" ).append( myvar )
                            myvar = '<tbody id=\'queryInfo\'></tbody>'
                            $( "#dev-table" ).append( myvar )
                            
                            
                            $.each(data['questions'],function(index,value){ 
                                
                                myvar = '<tr>'+
                                        '            <th>' + value['id'] + '</th>'+
                                        '            <th>' + '<a class="kevin" style="color:green "id="' + value['id'].toString() + '">'+ value['title'] + '</a>' + '</th>' +
                                        '            <th>' + value['user']['username'] + '</th>'+
                                        '            <th>' + value['timestamp'] + '</th>  '+
                                        '        </tr>';
                                
                                    $('#queryInfo').append(myvar)
                                
                            });

						},
						error: function(err){
							alert("ERROR OCCURED WHILE PUTTING USER " + err)
						}
					})
				})   
                $('#back_button').click(
                    function(){
                        $('#actual_body').hide()
                        $('#dev-table').show()
                        $('#searchMe').show()
                    }
                )
                $("a.kevin").click( 
				function() {
                    var key = $(this).attr("id")
					$.ajax({
						url: '/questions/' + key.toString(),
						type: 'GET',
                        dataType:"html",
						success: function (data){
                            var data = JSON.parse(data);
                            $('#question_title').text(data['question']['title'])
                            $('#question_body').text(data['question']['body'])
                            $('#actual_body').show()
                            $('#dev-table').hide()
                            $('#searchMe').hide()
						},
						error: function(err){
							alert("ERROR OCCURED WHILE PUTTING USER " + err)
						}
					})
				})
        
        })
				
		</script>
    </body>

    </html>
